annotated-types==0.7.0
certifi==2024.12.14
charset-normalizer==3.4.0
dnspython==2.7.0
email_validator==2.2.0
idna==3.10
PyArtifactory==2.7.1
pydantic==2.10.3
pydantic_core==2.27.1
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.2.3
